.video{
    position: relative;
}

.controls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    /* opacity: 0.7; */
}

.playPauseIcon {
    font-size: 40px;
}

canvas{
    cursor: pointer;
}