.video{
    position: relative;
}

.controls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    pointer-events: none;
}

.playPauseIcon {
    font-size: 40px;
}

.icon{
    opacity: 0.6;
}

canvas{
    cursor: pointer;
}